.mainholder {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#rockpaperscissors {
  height: 60vh;
  min-height: 400px;
}

.buttonholder {
  margin-top: 50px;
  display: flex;
  width: 80vw;
  justify-content: center;
  gap: 10vh;
}

button {
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  width: 10rem;
  min-width: 8rem;
  text-shadow: 0rem 0rem 0.5rem black;
  color: white;
  background: rgb(174, 174, 174);
}
