.mainholder {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#rockpaperscissors {
  height: 50vh;
  min-height: 350px;
}

.buttonholder {
  margin-top: 50px;
  display: flex;
  width: 80vw;
  justify-content: center;
  gap: 5rem;
}

button {
  font-size: 12px;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  padding: 0.7rem 0.3rem;
  width: 10rem;
  min-width: 8rem;
  text-shadow: 0rem 0rem 0.5rem black;
  color: white;
  background: rgb(192, 192, 192);
}

.liveresults {
  text-align: center;
  width: 400px;
  height: 100px;
  background: rgb(192, 192, 192);
  margin-top: 50px;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
}
